:root {
  --brand-color: #2196f3;
  --first-color: #757575;
  --second-color: #212121;
  --bg-hero-color: #c4c4c4;
  --card-gap: 30px;
  --bg-color-foot: #2f303a;
  --cube: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  color: #757575;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.header {
  display: flex;
  align-items: center;
}

.logo {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  letter-spacing: 0.03em;

  margin-bottom: 0px;
}

.logo-web {
  color: var(--brand-color);
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0px;
  padding: 0px;
  margin-left: 93px;

  display: flex;
  align-items: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.2;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--duration) var(--cube);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.nav-link.link-now {
  color: var(--brand-color);
}

.nav-link.link-now::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--brand-color);
}

.mail-and-tel {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}

.mail-and-tel .item:not(:last-child) {
  margin-right: 50px;
}

.link-mailtel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--first-color);

  transition: color var(--duration) var(--cube);
}

.link-mailtel:hover,
.link-mailtel:focus {
  color: var(--brand-color);
}

/* ICON */

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* СТУДИЯ */

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: -webkit-center;
  letter-spacing: 0.06em;

  background-color: var(--bg-hero-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bghero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--brand-color);

  display: inline-block;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity var(--duration) var(--cube);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  opacity: 1;
  transition: transform var(--duration) var(--cube),
    opacity var(--duration) var(--cube);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal-icon {
  transition: fill var(--duration) var(--cube);

  fill: #000;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--brand-color);
}

/* ФОРМА */
.form {
  width: 448px;
}

.form-title {
  margin: 0px;
  margin-bottom: 12px;

  font-size: 20px;
  text-align: center;
  color: var(--second-color);
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-right: 12px;
  padding-left: 42px;

  transition: border-color var(--duration) var(--cube);

  outline: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--duration) var(--cube);

  fill: var(--second-color);
}

.form-input:focus {
  border-color: var(--brand-color);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  transition: border-color var(--duration) var(--cube);

  outline: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea:focus {
  border-color: var(--brand-color);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.agree-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
}

.agree-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  transition: background var(--duration) var(--cube),
    border-color var(--duration) var(--cube);
  border: 2px solid var(--second-color);
  border-radius: 2px;
}

.agree-checkbox:checked + .agree-icon {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.agree-link {
  margin-left: 5px;

  text-decoration: underline;
  color: var(--brand-color);
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--brand-color);
}

/* Преимущества */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: calc(-1 * var(--card-gap));
}

.feature-list .item {
  flex-basis: calc(100% / 4 - var(--card-gap));

  margin-right: var(--card-gap);
}

/* ICON */
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* ICON */

.feature-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-text {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Специализация команды */
.spec {
  padding-bottom: 94px;
}

.spec-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  margin-right: calc(-1 * var(--card-gap));
}

.spec-list .item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
}

.spec-thumb {
  position: relative;
  overflow: hidden;
}

.text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.spec-text {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
}

/* Команда */
.team-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  margin: 0px;
  margin-right: calc(-1 * var(--card-gap));
  padding: 0px;
}

.team-list .item {
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: var(--card-gap);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-color);

  margin-bottom: 10px;
  margin-top: 0px;
}

.team-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  margin-top: 0px;
  margin-bottom: 16px;
}

.section-team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}

/* ICON */
.team-icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.item-icon {
  margin: 0px;
}

.team-icon-list .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  transition: color var(--duration) var(--cube),
    background-color var(--duration) var(--cube);

  color: var(--first-color);
  border-radius: 50%;
}

.team-icon-list .link:hover,
.team-icon-list .link:focus {
  background-color: var(--brand-color);
  color: #fff;
}

.team-icon-list .icon {
  fill: currentColor;
}

/* ICON */

/* Постоянные клиенты */
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  transition: color var(--duration) var(--cube),
    border-color var(--duration) var(--cube);

  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.clients-icon {
  fill: currentColor;
}

/* ПОРТФОЛИО */

/* Фильтры */
.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;
}

.button-list .item:not(:nth-child(5)) {
  margin-right: 8px;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  transition: background-color var(--duration) var(--cube),
    color var(--duration) var(--cube), box-shadow var(--duration) var(--cube);

  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
  border-style: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Сетка продуктов */

.projects-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
  margin-right: calc(-1 * var(--card-gap));
  margin-bottom: calc(-1 * var(--card-gap));
}

.projects-list .item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);

  transition: box-shadow var(--duration) var(--cube);

  border: 1px solid #eeeeee;
}

.projects-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.stand {
  position: relative;
  overflow: hidden;
}

.stand-box {
  position: absolute;
  bottom: -100%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: transform var(--duration) var(--cube);

  background-color: rgba(33, 150, 243, 0.9);
}

.projects-list .item:hover .stand-box {
  transform: translateY(-100%);
}

.box-text {
  margin: 0;
  max-width: 322px;

  font-size: 18px;
  line-height: 1.6;

  color: #ffffff;
}

.stand-text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  margin: 0px;
  padding: 0px;
  margin-bottom: 4px;

  color: var(--second-color);
}

.projects-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;

  margin: 0px;
  padding: 0px;
}

/* FOOTER */

.container.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-foot {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  display: inline-block;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--bg-color-foot);
  padding: 60px 0px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 9px;
}

.foot-list > li:first-child {
  margin-bottom: 9px;
}

.foot-mailtel {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}

.foot-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

/* Присоединяйтесь */

.second-box {
  margin-left: 70px;
}

.join-title {
  display: inline-block;

  margin: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;

  color: #fff;
  font-size: 14px;
  line-height: 1.14;
}

.join-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  margin: 0px;
  padding: 0px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  transition: background-color var(--duration) var(--cube);

  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--brand-color);
}

.join-icon {
  fill: currentColor;
}

/* FORM MAILING */
.third-box {
  margin-left: 93px;
}

.mailing-title {
  display: inline-block;

  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  color: #fff;
}

.mailing-input {
  padding: 15px;
  width: 358px;
  height: 50px;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-color-foot);
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.mailing-label {
  display: block;
}

.mailing-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  padding: 13px 0px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: var(--brand-color);
}

.mailing-icon {
  margin-left: 10px;
  fill: #fff;
}
